<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Test</servlet-name>
  	<display-name>Test</display-name>
  	<description></description>
  	<servlet-class>controller.Test</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterController</servlet-name>
  	<display-name>RegisterController</display-name>
  	<description></description>
  	<servlet-class>controller.RegisterController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateStudent</servlet-name>
  	<display-name>UpdateStudent</display-name>
  	<description></description>
  	<servlet-class>controller.UpdateStudent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteStudent</servlet-name>
  	<display-name>DeleteStudent</display-name>
  	<description></description>
  	<servlet-class>controller.DeleteStudent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSubject</servlet-name>
  	<display-name>AddSubject</display-name>
  	<description></description>
  	<servlet-class>controller.AddSubject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateSubject</servlet-name>
  	<display-name>UpdateSubject</display-name>
  	<description></description>
  	<servlet-class>controller.UpdateSubject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSubjectToStudent</servlet-name>
  	<display-name>AddSubjectToStudent</display-name>
  	<description></description>
  	<servlet-class>controller.AddSubjectToStudent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveSubjectFromStudent</servlet-name>
  	<display-name>RemoveSubjectFromStudent</display-name>
  	<description></description>
  	<servlet-class>controller.RemoveSubjectFromStudent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddQuestion</servlet-name>
  	<display-name>AddQuestion</display-name>
  	<description></description>
  	<servlet-class>controller.AddQuestion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateQuestion</servlet-name>
  	<display-name>UpdateQuestion</display-name>
  	<description></description>
  	<servlet-class>controller.UpdateQuestion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckValidUser</servlet-name>
  	<display-name>CheckValidUser</display-name>
  	<description></description>
  	<servlet-class>controller.CheckValidUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckandStore</servlet-name>
  	<display-name>CheckandStore</display-name>
  	<description></description>
  	<servlet-class>controller.CheckandStore</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Test</servlet-name>
  	<url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterController</servlet-name>
  	<url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateStudent</servlet-name>
  	<url-pattern>/UpdateStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteStudent</servlet-name>
  	<url-pattern>/DeleteStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSubject</servlet-name>
  	<url-pattern>/AddSubject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateSubject</servlet-name>
  	<url-pattern>/UpdateSubject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSubjectToStudent</servlet-name>
  	<url-pattern>/AddSubjectToStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveSubjectFromStudent</servlet-name>
  	<url-pattern>/RemoveSubjectFromStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddQuestion</servlet-name>
  	<url-pattern>/AddQuestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateQuestion</servlet-name>
  	<url-pattern>/UpdateQuestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckValidUser</servlet-name>
  	<url-pattern>/CheckValidUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckandStore</servlet-name>
  	<url-pattern>/CheckandStore</url-pattern>
  </servlet-mapping>
</web-app>
